<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam amet nihil dolorum et id eum, quae temporibus dolores vero fugiat at delectus dolor tempore nostrum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam amet nihil dolorum et id eum, quae temporibus dolores vero fugiat at delectus dolor tempore nostrum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam amet nihil dolorum et id eum, quae temporibus dolores vero fugiat at delectus dolor tempore nostrum?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>